body {
	max-width: 1300px;
	margin: 0 auto;
	font-family: Verdana;
	background-color: #005656;
}
header { 
	display: flex;
	justify-content: space-between;
	margin: 1% auto;
	font-size: 20px;
	max-width: 1250px;
	min-width: 500px;
	height: 145px;
	color: #81B5B5;
	background-color:#036A6A;
	background: linear-gradient(to top, #003535, #048E8E);
	border: 3px outset;
	border-color: #81B5B5;
	border-radius: 10px;
}
.my_logo {
	
	width: 50%;
    margin-left: 2%;
}
.my_logo img {
	width: 100%;
}
.contacts {
	display: inline-block;
	font-family:'Noto Serif', serif;
	font-size: 1,2em;
	margin: 1%;
}
.tel, .adresa {
	color: yellow;
	font-family:'Noto Serif', serif;
	font-size: 20pt;
}
nav {
	position: relative;
	max-width: 1250px;
	min-width: 500px;
	margin: 0 auto;
	height: 40px;
}
.nav_button {
	position: absolute;
	margin: 5px;
}
ul.nav_menu li {
	display: inline-block;
}

ul.nav_menu li a {
	display: inline;
	padding: 5px 15px;
	border: 2px outset #81B5B5;
	background: linear-gradient(to top, #003535, #048E8E);
	border-radius: 10px;
}
ul.nav_menu li a:hover {
	box-shadow: 0px 0px 10px 5px #00D0D0 ;
	color: #4FF6F6;
}
ul.nav_menu li a:active {
	box-shadow: 0px 0px 10px 5px #003E3E ;
	
}
nav ul.nav_menu *, input {
	border: 2px;
	padding: 5px 5px;
	color: #81B5B5;
	font-size: 1.1em;
	text-decoration: none;
}
 #test_top_nav {
  top: 145px; /*высота шапки в пикселях*/
  position: fixed;
   z-index: 1000;
}

.adresa {
	position: absolute;
	top: 20px;
	right: 40px;
}
hr {
	margin: 10px 10px 2px 10px;
	border-width: 2px;
}
article {
	
}
.news {
	position: relative;
	width: 250px;
	height: 500px;
	float: left;
	background: linear-gradient(to top, #003535, #048E8E);
	border: 3px outset;
	border-color: #81B5B5;
	border-radius: 10px;
	margin: 0 10px;
	color: white;
	text-align: center;
}
.news1 { 
	width: 240px;
	max-height: 400px;
	
}
.weather {
	position: absolute;
	width: 250px;
	height: 150px;
	margin-left: 5px;
	bottom: 0;
}
.repair_text {
	margin-left: 2%;
	font-size: 13pt;
	font-family:'Noto Serif', serif;
	height: 100px;
	color: orange;
}
section.slide {
	display: flex;
	flex-wrap: nowrap;
	max-width: 975px;
	min-width: 500px;
	margin: 0 -5px;
	background-color: white;
}
section.accessories {
	display: flex;
	flex-wrap: nowrap;
	max-width:1230px;
	min-width: 500px;
	margin: 0 auto;
	background-color: white;
}

.slide img, .accessories img {
	width:  100%;
}

.text {
	max-width: 1250px;
	min-width: 500px;
	margin: 0 auto;
	height: 100%;
	margin: auto 20px;
	font-size: 1.3em;
}
#above_footer {
	display: flex;
	justify-content: space-around;
}
#location {
	float: left;
	border: 2px solid red;
	max-width: 600px;
	min-width: 200px;
	width: 100%;
	height: 300px;
	margin: 2px auto;
}
#text_form {
	position: relative;
	border: 2px solid red;
	max-width: 600px;
	min-width: 200px;
	width: 100%;
	height: 350px;
	
	margin: 2px auto;
}
textarea {
	
	//right: 2px 2px;
	margin: 10 auto;
	max-width: 580px;
	min-width: 200px;
	max-height: 300px;
	width: 99%;
	font-size: 1.5em;
}
#text_but {
	display: flex;
	flex-direction: column;
	align-items: space-between;
}
#but {
	display: flex;
	justify-content: space-between;
}
footer {
	width: 100%;
	position: relative;
	max-width: 1250px;
	min-width: 500px;
	height: 80px;
	float: both;
	margin: 10px auto;
	background-color: #003C3C;
	background: linear-gradient(to top, #003535, #005C5C);
	border: 3px outset;
	border-color: #81B5B5;
	border-radius: 10px;
}
.mail_me {
	position: absolute;
	top: 22px;
	left: 20px;
	
}
.social {
	width: 100%;
}
ul.social_but {
	display: flex;
	margin-right: 2%;
	width: 95%;
	justify-content: flex-end;
}

ul.social_but li {
	justify-content: flex-end;
}	
ul.social_but li img {
	margin: 5px 10px;
	border: 2px outset;
	border-color: #81B5B5;
	border-radius: 10px;
}
ul.social_but li img:hover {
	box-shadow: 0px 0px 10px 5px #00D0D0 ;
}

